/* Reset de estilos para limpar as margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form {
    width: 100%;
    max-width: 80%; /* Define a largura máxima do formulário */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* Estilo das etiquetas dos campos de entrada */
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilo dos campos de entrada de texto */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo do botão de envio */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilizar o botão quando o mouse estiver sobre ele */
button:hover {
    background-color: #0056b3;
}
